*{
    margin: 0;
    padding: 0;
}

html, body{
    height: 100%;
}

body{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif ;
    background-image: url('assets/foto.jpg');
    background-repeat: no-repeat;
    background-size: 100% 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    display: flex;
    
}


h1{
    height: 97%;
    font-size: 75px;
    display: inline;
    position: absolute;
    color: red
    
    
}

.score{
    height: 70%;
    font-size: 50px;
    position: absolute;
    color: blue ;
}

.time{
    height: 50%;
    font-size: 25px;
    position: absolute  ;
}

.board{
    height: 600px;
    width: 600px;
    margin-top: 250px;
    display: grid;
    grid-template-columns: repeat(3, auto);
    grid-template-rows: repeat(3, auto);
    gap: 50px;

}

.hole{
    background-color: #9B7653 ;
    border-radius: 50%;
    box-shadow: inset 0 10px 3px 10px #352106;
    position: relative;
    
}

.hole .mole{
    width: 60%;
    position: absolute ;
    left: 50%;
    transform: translateX(-50%);
    bottom: 0;
    animation: rise .1s ease-out;
}

.mole{
    margin-bottom: 25px;
    height: 75%;
}

@keyframes rise {
    0%{
        transform: translateX(-50%) translateY(100%);
    }
    100%{
        transform: translateX(-50%) translateY(0);
    }
}

.cursor{
    height: 110px;
    width: 100px;
    position: absolute;
    top: 100px;
    left: 100px;
    background-image: url('assets/hammer.png');
    background-size: 100% 100%;
    transform: translate(-20%, -20%);
    transition: transform .1s;
    pointer-events: none;
}
.cursor.active{
    transform: translate(-20%, -20%) rotate(-45deg);
}

